<html>

<head>
    <title>Auto Confirm Delete</title>
    <meta name="dj4e" content="806fec5af7f5b48b8a31a003e171f3fb">
</head>

<body>
    {% extends "base_bootstrap.html" %}

    {% block content %}

        <h1>Delete Auto</h1>

        <p>Are you sure you want to delete the auto: {{ auto }}?</p>

        <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" value="Yes, delete.">
            <!--<input type="submit" onclick="window.location='{% url 'autos:all' %}' ; return false;" value="Cancel">-->
        </form>
    {% endblock %}
</body>

</html>